tmp/Gestisci_Specifiche_Tecniche.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>PCB Complete Configurator - Creates full technical specification set with predefined values (19 specs per profile)</description>
    <interviewLabel>Configuratore PCB Completo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestisci Specifiche Tecniche</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Select_PCB_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- ===== VARIABLES ===== -->
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>varPCBType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>colSpecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Tech_Spec__c</objectType>
    </variables>

    <variables>
        <name>varTempSpec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Tech_Spec__c</objectType>
    </variables>

    <!-- ===== CHOICES ===== -->
    <choices>
        <name>PCB_Standard</name>
        <choiceText>PCB Standard (FR4, 1.6mm, HASL)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>STANDARD</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCB_HighTg</name>
        <choiceText>PCB High-Tg (FR4 High-Tg, 1.6mm, ENIG)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HIGH_TG</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCB_Automotive</name>
        <choiceText>PCB Automotive (Halogen-Free, High-Tg, ENIG)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AUTOMOTIVE</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCB_Medical</name>
        <choiceText>PCB Medical (Halogen-Free, High-Tg, Gold Plating)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MEDICAL</stringValue>
        </value>
    </choices>

    <!-- ===== SCREENS ===== -->
    <screens>
        <name>Screen_Select_PCB_Type</name>
        <label>Configuratore PCB Completo</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_PCB_Type</targetReference>
        </connector>
        <fields>
            <name>Display_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Configuratore PCB Completo&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Seleziona il tipo di PCB da configurare. Il sistema creerà automaticamente &lt;b&gt;tutte le specifiche tecniche necessarie&lt;/b&gt; con valori predefiniti ottimali per il tipo selezionato.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Ogni configurazione include:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Materiali (3 specifiche)&lt;/li&gt;&lt;li&gt;Dimensioni e Tolleranze (4 specifiche)&lt;/li&gt;&lt;li&gt;Confezionamento (3 specifiche)&lt;/li&gt;&lt;li&gt;Etichettatura (2 specifiche)&lt;/li&gt;&lt;li&gt;Documentazione (3 specifiche)&lt;/li&gt;&lt;li&gt;Qualità e Certificazioni (2-3 specifiche)&lt;/li&gt;&lt;li&gt;Note Commerciali (2 specifiche)&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Totale: 19 specifiche tecniche&lt;/b&gt; create automaticamente!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Field_PCB_Type</name>
            <choiceReferences>PCB_Standard</choiceReferences>
            <choiceReferences>PCB_HighTg</choiceReferences>
            <choiceReferences>PCB_Automotive</choiceReferences>
            <choiceReferences>PCB_Medical</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo PCB</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <screens>
        <name>Screen_Confirm_Config</name>
        <label>Conferma Configurazione</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_PCB_Type</targetReference>
        </connector>
        <fields>
            <name>Display_Confirm</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Conferma Configurazione&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Stai per creare una configurazione PCB completa con &lt;b&gt;19 specifiche tecniche&lt;/b&gt; predefinite.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Tipo selezionato:&lt;/b&gt; {!varPCBType}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Clicca &lt;b&gt;Next&lt;/b&gt; per procedere o &lt;b&gt;Previous&lt;/b&gt; per modificare.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <screens>
        <name>Screen_Success</name>
        <label>Configurazione Completata</label>
        <locationX>176</locationX>
        <locationY>2726</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Success</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 138, 0);&quot;&gt;Configurazione PCB Completata!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sono state create &lt;b&gt;19 specifiche tecniche complete&lt;/b&gt; per il tipo PCB selezionato: &lt;b&gt;{!varPCBType}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Puoi visualizzarle nella Related List &lt;b&gt;&quot;Account Technical Specifications&quot;&lt;/b&gt; dell&apos;Account.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Prossimi passi:&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Rivedi le specifiche create&lt;/li&gt;&lt;li&gt;Modifica eventuali valori se necessario&lt;/li&gt;&lt;li&gt;Procedi con la creazione dell&apos;offerta&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <!-- ===== DECISIONS ===== -->
    <decisions>
        <name>Decision_PCB_Type</name>
        <label>Route by PCB Type</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Route_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPCBType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>STANDARD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Standard_Spec_01</targetReference>
            </connector>
            <label>Standard PCB</label>
        </rules>
        <rules>
            <name>Route_HighTg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPCBType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HIGH_TG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_HighTg_Spec_01</targetReference>
            </connector>
            <label>High-Tg PCB</label>
        </rules>
        <rules>
            <name>Route_Automotive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPCBType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AUTOMOTIVE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Automotive_Spec_01</targetReference>
            </connector>
            <label>Automotive PCB</label>
        </rules>
        <rules>
            <name>Route_Medical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPCBType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MEDICAL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Medical_Spec_01</targetReference>
            </connector>
            <label>Medical PCB</label>
        </rules>
    </decisions>

    <!-- ===== ASSIGNMENTS ===== -->
    <assignments>
        <name>Assign_PCB_Type</name>
        <label>Assign PCB Type</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varPCBType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Field_PCB_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Confirm_Config</targetReference>
        </connector>
    </assignments>

    <!-- ===== STANDARD PCB SPECS (19 assignments) ===== -->
    <assignments>
        <name>Build_Standard_Spec_01</name>
        <label>Build Standard Spec 01</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiali</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiale principale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FR4 Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_02</name>
        <label>Build Standard Spec 02</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiali</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Halogen free</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_03</name>
        <label>Build Standard Spec 03</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiali</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tg richiesto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>130-140°C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_04</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_04</name>
        <label>Build Standard Spec 04</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensione max (mm)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>600 x 500</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_05</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_05</name>
        <label>Build Standard Spec 05</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spessore target</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1.6mm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_06</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_06</name>
        <label>Build Standard Spec 06</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tolleranza spessore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>±10%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_07</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_07</name>
        <label>Build Standard Spec 07</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tolleranza dimensionale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IPC-A-600 Class 2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_08</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_08</name>
        <label>Build Standard Spec 08</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezionamento / Imballo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezione primaria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Busta antistatica</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_09</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_09</name>
        <label>Build Standard Spec 09</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezionamento / Imballo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezione secondaria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scatola di cartone</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_10</name>
        <label>Build Standard Spec 10</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezionamento / Imballo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Numero pezzi per scatola</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>50</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_11</name>
        <label>Build Standard Spec 11</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etichettatura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Barcode</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EAN-13</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_12</name>
        <label>Build Standard Spec 12</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etichettatura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etichetta esterna</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_13</name>
        <label>Build Standard Spec 13</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Packing list</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obbligatorio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_14</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_14</name>
        <label>Build Standard Spec 14</label>
        <locationX>50</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Certificato materiali</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Su richiesta</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_15</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_15</name>
        <label>Build Standard Spec 15</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Report test</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Su richiesta</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_16</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_16</name>
        <label>Build Standard Spec 16</label>
        <locationX>50</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualità &amp; Certificazioni</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RoHS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_17</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_17</name>
        <label>Build Standard Spec 17</label>
        <locationX>50</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualità &amp; Certificazioni</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REACH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_18</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_18</name>
        <label>Build Standard Spec 18</label>
        <locationX>50</locationX>
        <locationY>2402</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Note Commerciali / Preferenze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lotto minimo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>100 pz</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Standard_Spec_19</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Standard_Spec_19</name>
        <label>Build Standard Spec 19</label>
        <locationX>50</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Note Commerciali / Preferenze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead time preferito</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4 settimane</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_All_Standard_Specs</targetReference>
        </connector>
    </assignments>
    <!-- ===== HIGH_TG PCB SPECS (19 assignments) ===== -->
    <assignments>
        <name>Build_HighTg_Spec_01</name>
        <label>Build HighTg Spec 01</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiali</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiale principale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FR4 High-Tg (Tg 170°C)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_02</name>
        <label>Build HighTg Spec 02</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiali</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Halogen free</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_03</name>
        <label>Build HighTg Spec 03</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiali</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tg richiesto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>170°C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_04</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_04</name>
        <label>Build HighTg Spec 04</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensione max (mm)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>600 x 500</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_05</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_05</name>
        <label>Build HighTg Spec 05</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spessore target</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1.6mm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_06</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_06</name>
        <label>Build HighTg Spec 06</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tolleranza spessore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>±8%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_07</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_07</name>
        <label>Build HighTg Spec 07</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tolleranza dimensionale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IPC-A-600 Class 2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_08</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_08</name>
        <label>Build HighTg Spec 08</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezionamento / Imballo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezione primaria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Busta antistatica</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_09</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_09</name>
        <label>Build HighTg Spec 09</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezionamento / Imballo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezione secondaria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scatola di cartone rinforzato</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_10</name>
        <label>Build HighTg Spec 10</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezionamento / Imballo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Numero pezzi per scatola</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>30</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_11</name>
        <label>Build HighTg Spec 11</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etichettatura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Barcode</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EAN-13</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_12</name>
        <label>Build HighTg Spec 12</label>
        <locationX>182</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etichettatura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etichetta esterna</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High-Tg Label</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_13</name>
        <label>Build HighTg Spec 13</label>
        <locationX>182</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Packing list</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obbligatorio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_14</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_14</name>
        <label>Build HighTg Spec 14</label>
        <locationX>182</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Certificato materiali</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obbligatorio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_15</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_15</name>
        <label>Build HighTg Spec 15</label>
        <locationX>182</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Report test</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obbligatorio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_16</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_16</name>
        <label>Build HighTg Spec 16</label>
        <locationX>182</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualità &amp; Certificazioni</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RoHS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_17</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_17</name>
        <label>Build HighTg Spec 17</label>
        <locationX>182</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualità &amp; Certificazioni</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ISO richiesto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ISO 9001:2015</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_18</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_18</name>
        <label>Build HighTg Spec 18</label>
        <locationX>182</locationX>
        <locationY>2402</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Note Commerciali / Preferenze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lotto minimo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>50 pz</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_HighTg_Spec_19</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_HighTg_Spec_19</name>
        <label>Build HighTg Spec 19</label>
        <locationX>182</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Note Commerciali / Preferenze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead time preferito</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5 settimane</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_All_HighTg_Specs</targetReference>
        </connector>
    </assignments>
    <!-- ===== AUTOMOTIVE PCB SPECS (19 assignments) ===== -->
    <assignments>
        <name>Build_Automotive_Spec_01</name>
        <label>Build Automotive Spec 01</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiali</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiale principale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FR4 Halogen-Free High-Tg</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_02</name>
        <label>Build Automotive Spec 02</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiali</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Halogen free</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_03</name>
        <label>Build Automotive Spec 03</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiali</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tg richiesto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>180°C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_04</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_04</name>
        <label>Build Automotive Spec 04</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensione max (mm)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>600 x 500</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_05</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_05</name>
        <label>Build Automotive Spec 05</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spessore target</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1.6mm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_06</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_06</name>
        <label>Build Automotive Spec 06</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tolleranza spessore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>±5%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_07</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_07</name>
        <label>Build Automotive Spec 07</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tolleranza dimensionale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IPC-A-600 Class 3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_08</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_08</name>
        <label>Build Automotive Spec 08</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezionamento / Imballo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezione primaria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Busta antistatica ESD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_09</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_09</name>
        <label>Build Automotive Spec 09</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezionamento / Imballo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezione secondaria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scatola cartonata certificata</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_10</name>
        <label>Build Automotive Spec 10</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezionamento / Imballo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Numero pezzi per scatola</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>25</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_11</name>
        <label>Build Automotive Spec 11</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etichettatura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Barcode</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QR code + EAN-13</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_12</name>
        <label>Build Automotive Spec 12</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etichettatura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etichetta esterna</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Automotive Grade Label</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_13</name>
        <label>Build Automotive Spec 13</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Packing list</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obbligatorio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_14</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_14</name>
        <label>Build Automotive Spec 14</label>
        <locationX>314</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Certificato conformità</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obbligatorio (IATF 16949)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_15</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_15</name>
        <label>Build Automotive Spec 15</label>
        <locationX>314</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Report test</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obbligatorio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_16</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_16</name>
        <label>Build Automotive Spec 16</label>
        <locationX>314</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualità &amp; Certificazioni</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RoHS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_17</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_17</name>
        <label>Build Automotive Spec 17</label>
        <locationX>314</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualità &amp; Certificazioni</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>REACH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_18</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_18</name>
        <label>Build Automotive Spec 18</label>
        <locationX>314</locationX>
        <locationY>2402</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualità &amp; Certificazioni</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ISO richiesto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IATF 16949</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Automotive_Spec_19</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_19</name>
        <label>Build Automotive Spec 19</label>
        <locationX>314</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Note Commerciali / Preferenze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lotto minimo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>100 pz</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_All_Automotive_Specs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Automotive_Spec_20</name>
        <label>Build Automotive Spec 20</label>
        <locationX>314</locationX>
        <locationY>2618</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Note Commerciali / Preferenze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead time preferito</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>6 settimane</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_All_Automotive_Specs</targetReference>
        </connector>
    </assignments>
    <!-- ===== MEDICAL PCB SPECS (19 assignments) ===== -->
    <assignments>
        <name>Build_Medical_Spec_01</name>
        <label>Build Medical Spec 01</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiali</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiale principale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FR4 Halogen-Free Medical Grade</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_02</name>
        <label>Build Medical Spec 02</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiali</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Halogen free</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Si</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_03</name>
        <label>Build Medical Spec 03</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Materiali</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tg richiesto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>180°C</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_04</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_04</name>
        <label>Build Medical Spec 04</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensione max (mm)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>400 x 300</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_05</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_05</name>
        <label>Build Medical Spec 05</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Spessore target</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1.6mm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_06</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_06</name>
        <label>Build Medical Spec 06</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tolleranza spessore</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>±5%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_07</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_07</name>
        <label>Build Medical Spec 07</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dimensioni &amp; Tolleranze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tolleranza dimensionale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IPC-A-600 Class 3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_08</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_08</name>
        <label>Build Medical Spec 08</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezionamento / Imballo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezione primaria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Busta sterile sigillata</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_09</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_09</name>
        <label>Build Medical Spec 09</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezionamento / Imballo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezione secondaria</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scatola sterilizzabile</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_10</name>
        <label>Build Medical Spec 10</label>
        <locationX>446</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Confezionamento / Imballo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Numero pezzi per scatola</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>20</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_11</name>
        <label>Build Medical Spec 11</label>
        <locationX>446</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etichettatura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Barcode</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QR code + Traceability</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_12</name>
        <label>Build Medical Spec 12</label>
        <locationX>446</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etichettatura</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Etichetta esterna</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medical Device Label</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_13</name>
        <label>Build Medical Spec 13</label>
        <locationX>446</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Packing list</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obbligatorio</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_14</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_14</name>
        <label>Build Medical Spec 14</label>
        <locationX>446</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Certificato conformità</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obbligatorio (ISO 13485)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_15</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_15</name>
        <label>Build Medical Spec 15</label>
        <locationX>446</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Documentazione</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Report test</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Obbligatorio + Traceability</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_16</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_16</name>
        <label>Build Medical Spec 16</label>
        <locationX>446</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualità &amp; Certificazioni</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RoHS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compliant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_17</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_17</name>
        <label>Build Medical Spec 17</label>
        <locationX>446</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualità &amp; Certificazioni</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ISO richiesto</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ISO 13485</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_18</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_18</name>
        <label>Build Medical Spec 18</label>
        <locationX>446</locationX>
        <locationY>2402</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Note Commerciali / Preferenze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lotto minimo</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>50 pz</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Medical_Spec_19</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Medical_Spec_19</name>
        <label>Build Medical Spec 19</label>
        <locationX>446</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>varTempSpec.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Note Commerciali / Preferenze</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Parameter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead time preferito</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>8 settimane</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Configuratore Automatico</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTempSpec.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colSpecs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varTempSpec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_All_Medical_Specs</targetReference>
        </connector>
    </assignments>

    <!-- ===== RECORD CREATES ===== -->
    <recordCreates>
        <name>Create_All_Standard_Specs</name>
        <label>Create All Standard PCB Specs</label>
        <locationX>50</locationX>
        <locationY>2618</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <inputReference>colSpecs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_All_HighTg_Specs</name>
        <label>Create All HighTg PCB Specs</label>
        <locationX>182</locationX>
        <locationY>2618</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <inputReference>colSpecs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_All_Automotive_Specs</name>
        <label>Create All Automotive PCB Specs</label>
        <locationX>314</locationX>
        <locationY>2618</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <inputReference>colSpecs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_All_Medical_Specs</name>
        <label>Create All Medical PCB Specs</label>
        <locationX>446</locationX>
        <locationY>2618</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <inputReference>colSpecs</inputReference>
    </recordCreates>

</Flow>
