elco-salesforce/force-app/main/default/flows/Gestisci_Specifiche_Tecniche.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Flow for managing Account Technical Specifications with dependent picklist support</description>
    <interviewLabel>Gestisci Specifiche Tecniche {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestisci Specifiche Tecniche</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Choose_Action</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- ACTION CHOICES -->
    <choices>
        <name>Choice_Create</name>
        <choiceText>Crea nuova specifica</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CREATE</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_List</name>
        <choiceText>Mostra elenco specifiche attive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LIST</stringValue>
        </value>
    </choices>

    <!-- CATEGORY CHOICES -->
    <choices>
        <name>Cat_Materiali</name>
        <choiceText>Materiali</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiali</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cat_Dimensioni</name>
        <choiceText>Dimensioni &amp; Tolleranze</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dimensioni &amp; Tolleranze</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cat_Confezionamento</name>
        <choiceText>Confezionamento / Imballo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confezionamento / Imballo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cat_Etichettatura</name>
        <choiceText>Etichettatura</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Etichettatura</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cat_Documentazione</name>
        <choiceText>Documentazione</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documentazione</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cat_Qualita</name>
        <choiceText>Qualità &amp; Certificazioni</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Qualità &amp; Certificazioni</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cat_NoteCommerciali</name>
        <choiceText>Note Commerciali / Preferenze</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Note Commerciali / Preferenze</stringValue>
        </value>
    </choices>

    <!-- PARAMETER CHOICES - MATERIALI -->
    <choices>
        <name>Param_MatPrincipale</name>
        <choiceText>Materiale principale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiale principale</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_MatAlternativo</name>
        <choiceText>Materiale alternativo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiale alternativo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_TgRichiesto</name>
        <choiceText>Tg richiesto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tg richiesto</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_HalogenFree</name>
        <choiceText>Halogen free</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Halogen free</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_UL</name>
        <choiceText>UL requirement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UL requirement</stringValue>
        </value>
    </choices>

    <!-- PARAMETER CHOICES - DIMENSIONI -->
    <choices>
        <name>Param_DimMax</name>
        <choiceText>Dimensione max (mm)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dimensione max (mm)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_DimMin</name>
        <choiceText>Dimensione min (mm)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dimensione min (mm)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_TolDim</name>
        <choiceText>Tolleranza dimensionale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tolleranza dimensionale</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_SpessoreTarget</name>
        <choiceText>Spessore target</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spessore target</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_TolSpessore</name>
        <choiceText>Tolleranza spessore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tolleranza spessore</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_PesoMax</name>
        <choiceText>Peso max</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Peso max</stringValue>
        </value>
    </choices>

    <!-- PARAMETER CHOICES - CONFEZIONAMENTO -->
    <choices>
        <name>Param_ConfPrimaria</name>
        <choiceText>Confezione primaria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confezione primaria</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_ConfSecondaria</name>
        <choiceText>Confezione secondaria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confezione secondaria</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_MatBusta</name>
        <choiceText>Materiale busta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiale busta</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_MatScatola</name>
        <choiceText>Materiale scatola</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiale scatola</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_NumBusta</name>
        <choiceText>Numero pezzi per busta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Numero pezzi per busta</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_NumScatola</name>
        <choiceText>Numero pezzi per scatola</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Numero pezzi per scatola</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Riempitivo</name>
        <choiceText>Riempitivo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Riempitivo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Separazione</name>
        <choiceText>Separazione pezzi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Separazione pezzi</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Palletizzazione</name>
        <choiceText>Palletizzazione</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Palletizzazione</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Filmatura</name>
        <choiceText>Filmatura</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Filmatura</stringValue>
        </value>
    </choices>

    <!-- PARAMETER CHOICES - ETICHETTATURA -->
    <choices>
        <name>Param_EtichettaInterna</name>
        <choiceText>Etichetta interna</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Etichetta interna</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_EtichettaEsterna</name>
        <choiceText>Etichetta esterna</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Etichetta esterna</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Barcode</name>
        <choiceText>Barcode</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Barcode</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_QRCode</name>
        <choiceText>QR code</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QR code</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_EtichettaCliente</name>
        <choiceText>Etichetta cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Etichetta cliente</stringValue>
        </value>
    </choices>

    <!-- PARAMETER CHOICES - DOCUMENTAZIONE -->
    <choices>
        <name>Param_PackingList</name>
        <choiceText>Packing list</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Packing list</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_CertConf</name>
        <choiceText>Certificato conformità</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certificato conformità</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_CertMat</name>
        <choiceText>Certificato materiali</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certificato materiali</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_ReportTest</name>
        <choiceText>Report test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Report test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_AltroDoc</name>
        <choiceText>Altro documento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Altro documento</stringValue>
        </value>
    </choices>

    <!-- PARAMETER CHOICES - QUALITÀ -->
    <choices>
        <name>Param_ISO</name>
        <choiceText>ISO richiesto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISO richiesto</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_RoHS</name>
        <choiceText>RoHS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RoHS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_REACH</name>
        <choiceText>REACH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REACH</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_ITAR</name>
        <choiceText>ITAR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ITAR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_AltroQual</name>
        <choiceText>Altro requisito qualità</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Altro requisito qualità</stringValue>
        </value>
    </choices>

    <!-- PARAMETER CHOICES - NOTE COMMERCIALI -->
    <choices>
        <name>Param_LottoMin</name>
        <choiceText>Lotto minimo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lotto minimo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_LeadTime</name>
        <choiceText>Lead time preferito</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead time preferito</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Incoterm</name>
        <choiceText>Incoterm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incoterm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Trasporto</name>
        <choiceText>Trasporto preferito</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trasporto preferito</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_NoteAgg</name>
        <choiceText>Note aggiuntive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Note aggiuntive</stringValue>
        </value>
    </choices>

    <!-- DECISIONS -->
    <decisions>
        <name>Branch_Action</name>
        <label>Branch Action</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screen_Create_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create</defaultConnectorLabel>
        <rules>
            <name>Action_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Input_Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LIST</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_List</targetReference>
            </connector>
            <label>List</label>
        </rules>
    </decisions>

    <!-- ASSIGNMENTS -->
    <assignments>
        <name>Assign_Parameter</name>
        <label>Assign Parameter Value</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Final_Parameter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Parameter</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_TechSpec</targetReference>
        </connector>
    </assignments>

    <!-- RECORD CREATES -->
    <recordCreates>
        <name>Create_TechSpec</name>
        <label>Create TechSpec</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>newTechSpecId</assignRecordIdToReference>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Input_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parameter__c</field>
            <value>
                <elementReference>Final_Parameter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference>Input_Value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Input_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account_Tech_Spec__c</object>
    </recordCreates>

    <!-- RECORD LOOKUPS -->
    <recordLookups>
        <name>Get_Active_Specs</name>
        <label>Get Active Specs</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Branch_Action</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Tech_Spec__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Parameter__c</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <queriedFields>UoM__c</queriedFields>
        <queriedFields>Source__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- SCREENS -->
    <screens>
        <name>Screen_Choose_Action</name>
        <label>Cosa vuoi fare?</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Active_Specs</targetReference>
        </connector>
        <fields>
            <name>Display_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Gestione Specifiche Tecniche&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Seleziona l&apos;operazione da eseguire:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Action</name>
            <choiceReferences>Choice_Create</choiceReferences>
            <choiceReferences>Choice_List</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Azione</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>Screen_List</name>
        <label>Specifiche Attive</label>
        <locationX>300</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_List_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Specifiche Tecniche Attive&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_List_Content</name>
            <fieldText>&lt;p&gt;Le specifiche attive per questo Account sono accessibili tramite la Related List &quot;Specifiche Tecniche&quot; sulla pagina Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>Screen_Create_Input</name>
        <label>Crea Nuova Specifica</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Parameter</targetReference>
        </connector>
        <fields>
            <name>Display_Create_Header</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Nuova Specifica Tecnica&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Seleziona la categoria e il parametro desiderato. La lista parametri si aggiorna automaticamente in base alla categoria scelta.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Category</name>
            <choiceReferences>Cat_Materiali</choiceReferences>
            <choiceReferences>Cat_Dimensioni</choiceReferences>
            <choiceReferences>Cat_Confezionamento</choiceReferences>
            <choiceReferences>Cat_Etichettatura</choiceReferences>
            <choiceReferences>Cat_Documentazione</choiceReferences>
            <choiceReferences>Cat_Qualita</choiceReferences>
            <choiceReferences>Cat_NoteCommerciali</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Categoria</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Parameter</name>
            <choiceReferences>Param_MatPrincipale</choiceReferences>
            <choiceReferences>Param_MatAlternativo</choiceReferences>
            <choiceReferences>Param_TgRichiesto</choiceReferences>
            <choiceReferences>Param_HalogenFree</choiceReferences>
            <choiceReferences>Param_UL</choiceReferences>
            <choiceReferences>Param_DimMax</choiceReferences>
            <choiceReferences>Param_DimMin</choiceReferences>
            <choiceReferences>Param_TolDim</choiceReferences>
            <choiceReferences>Param_SpessoreTarget</choiceReferences>
            <choiceReferences>Param_TolSpessore</choiceReferences>
            <choiceReferences>Param_PesoMax</choiceReferences>
            <choiceReferences>Param_ConfPrimaria</choiceReferences>
            <choiceReferences>Param_ConfSecondaria</choiceReferences>
            <choiceReferences>Param_MatBusta</choiceReferences>
            <choiceReferences>Param_MatScatola</choiceReferences>
            <choiceReferences>Param_NumBusta</choiceReferences>
            <choiceReferences>Param_NumScatola</choiceReferences>
            <choiceReferences>Param_Riempitivo</choiceReferences>
            <choiceReferences>Param_Separazione</choiceReferences>
            <choiceReferences>Param_Palletizzazione</choiceReferences>
            <choiceReferences>Param_Filmatura</choiceReferences>
            <choiceReferences>Param_EtichettaInterna</choiceReferences>
            <choiceReferences>Param_EtichettaEsterna</choiceReferences>
            <choiceReferences>Param_Barcode</choiceReferences>
            <choiceReferences>Param_QRCode</choiceReferences>
            <choiceReferences>Param_EtichettaCliente</choiceReferences>
            <choiceReferences>Param_PackingList</choiceReferences>
            <choiceReferences>Param_CertConf</choiceReferences>
            <choiceReferences>Param_CertMat</choiceReferences>
            <choiceReferences>Param_ReportTest</choiceReferences>
            <choiceReferences>Param_AltroDoc</choiceReferences>
            <choiceReferences>Param_ISO</choiceReferences>
            <choiceReferences>Param_RoHS</choiceReferences>
            <choiceReferences>Param_REACH</choiceReferences>
            <choiceReferences>Param_ITAR</choiceReferences>
            <choiceReferences>Param_AltroQual</choiceReferences>
            <choiceReferences>Param_LottoMin</choiceReferences>
            <choiceReferences>Param_LeadTime</choiceReferences>
            <choiceReferences>Param_Incoterm</choiceReferences>
            <choiceReferences>Param_Trasporto</choiceReferences>
            <choiceReferences>Param_NoteAgg</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parametro</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>Scegli il parametro specifico. Tutti i parametri sono disponibili - l&apos;operatore deve selezionare quello corretto per la categoria scelta.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Value</name>
            <dataType>String</dataType>
            <fieldText>Valore</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Inserisci il valore specifico per questo parametro (es. FR-4 Standard, ±0.1mm, RoHS compliant, ecc.)</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Notes</name>
            <fieldText>Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Note aggiuntive o dettagli implementativi</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>Screen_Success</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Success</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 128, 0);&quot;&gt;✓ Specifica Tecnica Creata&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Categoria: {!Input_Category}&lt;/p&gt;&lt;p&gt;Parametro: {!Final_Parameter}&lt;/p&gt;&lt;p&gt;Valore: {!Input_Value}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;La specifica è ora visibile nella Related List &quot;Specifiche Tecniche&quot; sulla pagina Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <!-- VARIABLES -->
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>newTechSpecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>Final_Parameter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
