elco-salesforce/force-app/main/default/flows/Gestisci_Specifiche_Tecniche.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Flow for managing Account Technical Specifications - Error-proof multi-screen approach with proper assignments</description>
    <interviewLabel>Gestisci Specifiche Tecniche {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gestisci Specifiche Tecniche</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Select_Category</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- INPUT VARIABLES -->
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- CATEGORY VARIABLE -->
    <variables>
        <name>varCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- PARAMETER VARIABLE -->
    <variables>
        <name>varParameter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- VALUE AND NOTES VARIABLES -->
    <variables>
        <name>varValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- CATEGORY CHOICES -->
    <choices>
        <name>Cat_Materiali</name>
        <choiceText>Materiali</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiali</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cat_Dimensioni</name>
        <choiceText>Dimensioni &amp; Tolleranze</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dimensioni &amp; Tolleranze</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cat_Confezionamento</name>
        <choiceText>Confezionamento / Imballo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confezionamento / Imballo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cat_Etichettatura</name>
        <choiceText>Etichettatura</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Etichettatura</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cat_Documentazione</name>
        <choiceText>Documentazione</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documentazione</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cat_Qualita</name>
        <choiceText>Qualità &amp; Certificazioni</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Qualità &amp; Certificazioni</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cat_NoteCommerciali</name>
        <choiceText>Note Commerciali / Preferenze</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Note Commerciali / Preferenze</stringValue>
        </value>
    </choices>

    <!-- PARAMETER CHOICES - MATERIALI (5) -->
    <choices>
        <name>Param_Mat_Principale</name>
        <choiceText>Materiale principale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiale principale</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Mat_Alternativo</name>
        <choiceText>Materiale alternativo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiale alternativo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Mat_Tg</name>
        <choiceText>Tg richiesto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tg richiesto</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Mat_Halogen</name>
        <choiceText>Halogen free</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Halogen free</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Mat_UL</name>
        <choiceText>UL requirement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UL requirement</stringValue>
        </value>
    </choices>

    <!-- PARAMETER CHOICES - DIMENSIONI (6) -->
    <choices>
        <name>Param_Dim_Max</name>
        <choiceText>Dimensione max (mm)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dimensione max (mm)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Dim_Min</name>
        <choiceText>Dimensione min (mm)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dimensione min (mm)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Dim_TollDim</name>
        <choiceText>Tolleranza dimensionale</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tolleranza dimensionale</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Dim_Spessore</name>
        <choiceText>Spessore target</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spessore target</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Dim_TollSpess</name>
        <choiceText>Tolleranza spessore</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tolleranza spessore</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Dim_Peso</name>
        <choiceText>Peso max</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Peso max</stringValue>
        </value>
    </choices>

    <!-- PARAMETER CHOICES - CONFEZIONAMENTO (10) -->
    <choices>
        <name>Param_Conf_Primaria</name>
        <choiceText>Confezione primaria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confezione primaria</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Conf_Secondaria</name>
        <choiceText>Confezione secondaria</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Confezione secondaria</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Conf_MatBusta</name>
        <choiceText>Materiale busta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiale busta</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Conf_MatScatola</name>
        <choiceText>Materiale scatola</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Materiale scatola</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Conf_NumBusta</name>
        <choiceText>Numero pezzi per busta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Numero pezzi per busta</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Conf_NumScatola</name>
        <choiceText>Numero pezzi per scatola</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Numero pezzi per scatola</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Conf_Riempitivo</name>
        <choiceText>Riempitivo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Riempitivo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Conf_Separazione</name>
        <choiceText>Separazione pezzi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Separazione pezzi</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Conf_Pallet</name>
        <choiceText>Palletizzazione</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Palletizzazione</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Conf_Filmatura</name>
        <choiceText>Filmatura</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Filmatura</stringValue>
        </value>
    </choices>

    <!-- PARAMETER CHOICES - ETICHETTATURA (5) -->
    <choices>
        <name>Param_Etic_Interna</name>
        <choiceText>Etichetta interna</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Etichetta interna</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Etic_Esterna</name>
        <choiceText>Etichetta esterna</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Etichetta esterna</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Etic_Barcode</name>
        <choiceText>Barcode</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Barcode</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Etic_QR</name>
        <choiceText>QR code</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>QR code</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Etic_Cliente</name>
        <choiceText>Etichetta cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Etichetta cliente</stringValue>
        </value>
    </choices>

    <!-- PARAMETER CHOICES - DOCUMENTAZIONE (5) -->
    <choices>
        <name>Param_Doc_Packing</name>
        <choiceText>Packing list</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Packing list</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Doc_CertConf</name>
        <choiceText>Certificato conformità</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certificato conformità</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Doc_CertMat</name>
        <choiceText>Certificato materiali</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Certificato materiali</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Doc_Report</name>
        <choiceText>Report test</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Report test</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Doc_Altro</name>
        <choiceText>Altro documento</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Altro documento</stringValue>
        </value>
    </choices>

    <!-- PARAMETER CHOICES - QUALITÀ (5) -->
    <choices>
        <name>Param_Qual_ISO</name>
        <choiceText>ISO richiesto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISO richiesto</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Qual_RoHS</name>
        <choiceText>RoHS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RoHS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Qual_REACH</name>
        <choiceText>REACH</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REACH</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Qual_ITAR</name>
        <choiceText>ITAR</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ITAR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Qual_Altro</name>
        <choiceText>Altro requisito qualità</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Altro requisito qualità</stringValue>
        </value>
    </choices>

    <!-- PARAMETER CHOICES - NOTE COMMERCIALI (5) -->
    <choices>
        <name>Param_Comm_Lotto</name>
        <choiceText>Lotto minimo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lotto minimo</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Comm_Lead</name>
        <choiceText>Lead time preferito</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead time preferito</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Comm_Incoterm</name>
        <choiceText>Incoterm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incoterm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Comm_Trasporto</name>
        <choiceText>Trasporto preferito</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Trasporto preferito</stringValue>
        </value>
    </choices>
    <choices>
        <name>Param_Comm_Note</name>
        <choiceText>Note aggiuntive</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Note aggiuntive</stringValue>
        </value>
    </choices>

    <!-- ASSIGNMENT 1: Assign Category after Screen 1 -->
    <assignments>
        <name>Assign_Category</name>
        <label>Assign Category</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>varCategory</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Field_Category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Branch_Category</targetReference>
        </connector>
    </assignments>

    <!-- ASSIGNMENT 2a: Assign Parameter - Materiali -->
    <assignments>
        <name>Assign_Param_Mat</name>
        <label>Assign Parameter - Materiali</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varParameter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Field_Param_Mat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Value_Notes</targetReference>
        </connector>
    </assignments>

    <!-- ASSIGNMENT 2b: Assign Parameter - Dimensioni -->
    <assignments>
        <name>Assign_Param_Dim</name>
        <label>Assign Parameter - Dimensioni</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varParameter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Field_Param_Dim</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Value_Notes</targetReference>
        </connector>
    </assignments>

    <!-- ASSIGNMENT 2c: Assign Parameter - Confezionamento -->
    <assignments>
        <name>Assign_Param_Conf</name>
        <label>Assign Parameter - Confezionamento</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varParameter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Field_Param_Conf</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Value_Notes</targetReference>
        </connector>
    </assignments>

    <!-- ASSIGNMENT 2d: Assign Parameter - Etichettatura -->
    <assignments>
        <name>Assign_Param_Etic</name>
        <label>Assign Parameter - Etichettatura</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varParameter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Field_Param_Etic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Value_Notes</targetReference>
        </connector>
    </assignments>

    <!-- ASSIGNMENT 2e: Assign Parameter - Documentazione -->
    <assignments>
        <name>Assign_Param_Doc</name>
        <label>Assign Parameter - Documentazione</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varParameter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Field_Param_Doc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Value_Notes</targetReference>
        </connector>
    </assignments>

    <!-- ASSIGNMENT 2f: Assign Parameter - Qualità -->
    <assignments>
        <name>Assign_Param_Qual</name>
        <label>Assign Parameter - Qualità</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varParameter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Field_Param_Qual</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Value_Notes</targetReference>
        </connector>
    </assignments>

    <!-- ASSIGNMENT 2g: Assign Parameter - Note Commerciali -->
    <assignments>
        <name>Assign_Param_Comm</name>
        <label>Assign Parameter - Note Commerciali</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varParameter</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Field_Param_Comm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Value_Notes</targetReference>
        </connector>
    </assignments>

    <!-- ASSIGNMENT 3: Assign Value and Notes -->
    <assignments>
        <name>Assign_Value_Notes</name>
        <label>Assign Value and Notes</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Field_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Field_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Confirm</targetReference>
        </connector>
    </assignments>

    <!-- DECISION: Branch by Category -->
    <decisions>
        <name>Decision_Branch_Category</name>
        <label>Branch by Category</label>
        <locationX>176</locationX>
        <locationY>266</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Route_Materiali</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Materiali</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Params_Materiali</targetReference>
            </connector>
            <label>Materiali</label>
        </rules>
        <rules>
            <name>Route_Dimensioni</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dimensioni &amp; Tolleranze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Params_Dimensioni</targetReference>
            </connector>
            <label>Dimensioni</label>
        </rules>
        <rules>
            <name>Route_Confezionamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confezionamento / Imballo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Params_Confezionamento</targetReference>
            </connector>
            <label>Confezionamento</label>
        </rules>
        <rules>
            <name>Route_Etichettatura</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Etichettatura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Params_Etichettatura</targetReference>
            </connector>
            <label>Etichettatura</label>
        </rules>
        <rules>
            <name>Route_Documentazione</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Documentazione</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Params_Documentazione</targetReference>
            </connector>
            <label>Documentazione</label>
        </rules>
        <rules>
            <name>Route_Qualita</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualità &amp; Certificazioni</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Params_Qualita</targetReference>
            </connector>
            <label>Qualità</label>
        </rules>
        <rules>
            <name>Route_NoteCommerciali</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCategory</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Note Commerciali / Preferenze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Params_NoteCommerciali</targetReference>
            </connector>
            <label>Note Commerciali</label>
        </rules>
    </decisions>

    <!-- RECORD CREATE -->
    <recordCreates>
        <name>Create_TechSpec</name>
        <label>Create Tech Spec</label>
        <locationX>176</locationX>
        <locationY>1134</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>varCategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parameter__c</field>
            <value>
                <elementReference>varParameter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Value__c</field>
            <value>
                <elementReference>varValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>varNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account_Tech_Spec__c</object>
    </recordCreates>

    <!-- SCREEN 1: Select Category -->
    <screens>
        <name>Screen_Select_Category</name>
        <label>Seleziona Categoria</label>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Category</targetReference>
        </connector>
        <fields>
            <name>Display_Header_Cat</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Nuova Specifica Tecnica&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Seleziona la categoria della specifica tecnica che vuoi aggiungere.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Field_Category</name>
            <choiceReferences>Cat_Materiali</choiceReferences>
            <choiceReferences>Cat_Dimensioni</choiceReferences>
            <choiceReferences>Cat_Confezionamento</choiceReferences>
            <choiceReferences>Cat_Etichettatura</choiceReferences>
            <choiceReferences>Cat_Documentazione</choiceReferences>
            <choiceReferences>Cat_Qualita</choiceReferences>
            <choiceReferences>Cat_NoteCommerciali</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Categoria</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <!-- SCREEN 2a: Parameters for MATERIALI -->
    <screens>
        <name>Screen_Params_Materiali</name>
        <label>Parametri Materiali</label>
        <locationX>50</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Param_Mat</targetReference>
        </connector>
        <fields>
            <name>Display_Materiali</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Materiali&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Seleziona il parametro specifico per i materiali.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Field_Param_Mat</name>
            <choiceReferences>Param_Mat_Principale</choiceReferences>
            <choiceReferences>Param_Mat_Alternativo</choiceReferences>
            <choiceReferences>Param_Mat_Tg</choiceReferences>
            <choiceReferences>Param_Mat_Halogen</choiceReferences>
            <choiceReferences>Param_Mat_UL</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parametro</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <!-- SCREEN 2b: Parameters for DIMENSIONI -->
    <screens>
        <name>Screen_Params_Dimensioni</name>
        <label>Parametri Dimensioni</label>
        <locationX>182</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Param_Dim</targetReference>
        </connector>
        <fields>
            <name>Display_Dimensioni</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Dimensioni &amp;amp; Tolleranze&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Seleziona il parametro specifico per dimensioni e tolleranze.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Field_Param_Dim</name>
            <choiceReferences>Param_Dim_Max</choiceReferences>
            <choiceReferences>Param_Dim_Min</choiceReferences>
            <choiceReferences>Param_Dim_TollDim</choiceReferences>
            <choiceReferences>Param_Dim_Spessore</choiceReferences>
            <choiceReferences>Param_Dim_TollSpess</choiceReferences>
            <choiceReferences>Param_Dim_Peso</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parametro</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <!-- SCREEN 2c: Parameters for CONFEZIONAMENTO -->
    <screens>
        <name>Screen_Params_Confezionamento</name>
        <label>Parametri Confezionamento</label>
        <locationX>314</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Param_Conf</targetReference>
        </connector>
        <fields>
            <name>Display_Confezionamento</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Confezionamento / Imballo&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Seleziona il parametro specifico per il confezionamento.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Field_Param_Conf</name>
            <choiceReferences>Param_Conf_Primaria</choiceReferences>
            <choiceReferences>Param_Conf_Secondaria</choiceReferences>
            <choiceReferences>Param_Conf_MatBusta</choiceReferences>
            <choiceReferences>Param_Conf_MatScatola</choiceReferences>
            <choiceReferences>Param_Conf_NumBusta</choiceReferences>
            <choiceReferences>Param_Conf_NumScatola</choiceReferences>
            <choiceReferences>Param_Conf_Riempitivo</choiceReferences>
            <choiceReferences>Param_Conf_Separazione</choiceReferences>
            <choiceReferences>Param_Conf_Pallet</choiceReferences>
            <choiceReferences>Param_Conf_Filmatura</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parametro</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <!-- SCREEN 2d: Parameters for ETICHETTATURA -->
    <screens>
        <name>Screen_Params_Etichettatura</name>
        <label>Parametri Etichettatura</label>
        <locationX>446</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Param_Etic</targetReference>
        </connector>
        <fields>
            <name>Display_Etichettatura</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Etichettatura&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Seleziona il parametro specifico per l&apos;etichettatura.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Field_Param_Etic</name>
            <choiceReferences>Param_Etic_Interna</choiceReferences>
            <choiceReferences>Param_Etic_Esterna</choiceReferences>
            <choiceReferences>Param_Etic_Barcode</choiceReferences>
            <choiceReferences>Param_Etic_QR</choiceReferences>
            <choiceReferences>Param_Etic_Cliente</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parametro</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <!-- SCREEN 2e: Parameters for DOCUMENTAZIONE -->
    <screens>
        <name>Screen_Params_Documentazione</name>
        <label>Parametri Documentazione</label>
        <locationX>578</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Param_Doc</targetReference>
        </connector>
        <fields>
            <name>Display_Documentazione</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Documentazione&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Seleziona il parametro specifico per la documentazione.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Field_Param_Doc</name>
            <choiceReferences>Param_Doc_Packing</choiceReferences>
            <choiceReferences>Param_Doc_CertConf</choiceReferences>
            <choiceReferences>Param_Doc_CertMat</choiceReferences>
            <choiceReferences>Param_Doc_Report</choiceReferences>
            <choiceReferences>Param_Doc_Altro</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parametro</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <!-- SCREEN 2f: Parameters for QUALITÀ -->
    <screens>
        <name>Screen_Params_Qualita</name>
        <label>Parametri Qualità</label>
        <locationX>710</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Param_Qual</targetReference>
        </connector>
        <fields>
            <name>Display_Qualita</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Qualità &amp;amp; Certificazioni&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Seleziona il parametro specifico per qualità e certificazioni.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Field_Param_Qual</name>
            <choiceReferences>Param_Qual_ISO</choiceReferences>
            <choiceReferences>Param_Qual_RoHS</choiceReferences>
            <choiceReferences>Param_Qual_REACH</choiceReferences>
            <choiceReferences>Param_Qual_ITAR</choiceReferences>
            <choiceReferences>Param_Qual_Altro</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parametro</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <!-- SCREEN 2g: Parameters for NOTE COMMERCIALI -->
    <screens>
        <name>Screen_Params_NoteCommerciali</name>
        <label>Parametri Note Commerciali</label>
        <locationX>842</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Param_Comm</targetReference>
        </connector>
        <fields>
            <name>Display_NoteCommerciali</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Note Commerciali / Preferenze&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Seleziona il parametro specifico per note commerciali.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Field_Param_Comm</name>
            <choiceReferences>Param_Comm_Lotto</choiceReferences>
            <choiceReferences>Param_Comm_Lead</choiceReferences>
            <choiceReferences>Param_Comm_Incoterm</choiceReferences>
            <choiceReferences>Param_Comm_Trasporto</choiceReferences>
            <choiceReferences>Param_Comm_Note</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Parametro</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <!-- SCREEN 3: Value and Notes -->
    <screens>
        <name>Screen_Value_Notes</name>
        <label>Valore e Note</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Value_Notes</targetReference>
        </connector>
        <fields>
            <name>Display_ValueNotes</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Inserisci Valore&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Inserisci il valore specifico per il parametro selezionato ed eventuali note aggiuntive.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Field_Value</name>
            <dataType>String</dataType>
            <fieldText>Valore</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Esempio: FR4, 1.6mm, Si, No, ecc.</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Field_Notes</name>
            <dataType>String</dataType>
            <fieldText>Note</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Note aggiuntive opzionali</helpText>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <!-- SCREEN 4: Confirmation -->
    <screens>
        <name>Screen_Confirm</name>
        <label>Conferma</label>
        <locationX>176</locationX>
        <locationY>1026</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_TechSpec</targetReference>
        </connector>
        <fields>
            <name>Display_Confirm</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Conferma Specifica Tecnica&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Verifica i dati prima di procedere:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Categoria:&lt;/b&gt; {!varCategory}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Parametro:&lt;/b&gt; {!varParameter}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Valore:&lt;/b&gt; {!varValue}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Note:&lt;/b&gt; {!varNotes}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>

    <!-- SCREEN 5: Success -->
    <screens>
        <name>Screen_Success</name>
        <label>Successo</label>
        <locationX>176</locationX>
        <locationY>1242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Success</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 138, 0);&quot;&gt;✓ Specifica Tecnica Creata!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;La specifica tecnica è stata aggiunta con successo all&apos;Account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
</Flow>
