elco-salesforce/force-app/main/default/flows/Quote_Crea_Offerta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>OFFERTA P3 - Crea Quote da Opportunity con gating prerequisiti Account</description>
    <label>Quote - Crea Offerta</label>
    <processType>Flow</processType>
    <status>Active</status>

    <!-- START -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>

    <!-- VARIABLES -->
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varAcc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>newQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>chosenPricebook2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInsideSales</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNumCircuiti</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varGiorniConsegna</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varServizio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varServizio9010</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTrasporto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAnagraficaContatto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPurchaseOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNoteSpecialNeeds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCustomerCodeSnapshot</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- RECORD LOOKUPS -->
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Account_Prerequisites</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- DECISIONS -->
    <decisions>
        <name>Check_Account_Prerequisites</name>
        <label>Check Account Prerequisites</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Screen_Prerequisites_Missing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prerequisites Missing</defaultConnectorLabel>
        <rules>
            <name>Prerequisites_OK</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Tolleranze_Default__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Solder_Default__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Silkscreen_Default__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Finish_Default__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Spessore_Default__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Values</targetReference>
            </connector>
            <label>Prerequisites OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Pricebook</name>
        <label>Determine Pricebook</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Set_Standard_Pricebook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Use Standard PB</defaultConnectorLabel>
        <rules>
            <name>Opp_Has_Pricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Opp_Pricebook</targetReference>
            </connector>
            <label>Opp Has Pricebook</label>
        </rules>
    </decisions>

    <!-- SCREENS -->
    <screens>
        <name>Screen_Prerequisites_Missing</name>
        <label>Screen Prerequisites Missing</label>
        <locationX>308</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Prereq_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(194, 30, 30);&quot;&gt;⚠ Prerequisiti mancanti&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Completa i prerequisiti di quotazione sull&apos;Account prima di creare un&apos;Offerta:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Tolleranze Default&lt;/li&gt;&lt;li&gt;Solder Default&lt;/li&gt;&lt;li&gt;Silkscreen Default&lt;/li&gt;&lt;li&gt;Finish Default&lt;/li&gt;&lt;li&gt;Spessore Default&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Header_Offerta</name>
        <label>Screen Header Offerta</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Determine_Pricebook</targetReference>
        </connector>
        <fields>
            <name>Header_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Nuova Offerta&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Compila i dati dell&apos;offerta:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Inside_Sales</name>
            <dataType>String</dataType>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Inside_Sales__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Inside Sales</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote</stringValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Input_Num_Circuiti</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Numero Circuiti</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Input_Giorni_Consegna</name>
            <dataType>Number</dataType>
            <fieldText>Giorni Consegna</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Input_Servizio</name>
            <choiceReferences>Choice_Servizio_Normal</choiceReferences>
            <choiceReferences>Choice_Servizio_Fast</choiceReferences>
            <choiceReferences>Choice_Servizio_Guarantee</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_Servizio_Normal</defaultSelectedChoiceReference>
            <fieldText>Servizio</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Servizio_90_10</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Servizio 90/10</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Trasporto</name>
            <choiceReferences>Choice_Trasporto_Elco</choiceReferences>
            <choiceReferences>Choice_Trasporto_Cliente</choiceReferences>
            <choiceReferences>Choice_Trasporto_Franco</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Choice_Trasporto_Elco</defaultSelectedChoiceReference>
            <fieldText>Trasporto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Anagrafica_Contatto</name>
            <dataType>String</dataType>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Anagrafica_Contatto__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Anagrafica Contatto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote</stringValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Input_Purchase_Order</name>
            <dataType>String</dataType>
            <fieldText>Purchase Order</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Note_Special_Needs</name>
            <fieldText>Note / Special Needs</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Customer_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.ERP_Customer_Code__c</elementReference>
            </defaultValue>
            <fieldText>Customer Code (Snapshot)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Screen Success</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(11, 122, 11);&quot;&gt;✓ Quote creata con successo&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Quote ID: &lt;a href=&quot;/{!newQuoteId}&quot;&gt;{!newQuoteId}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <!-- ASSIGNMENTS -->
    <assignments>
        <name>Set_Default_Values</name>
        <label>Set Default Values</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varInsideSales</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNumCircuiti</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServizio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varServizio9010</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTrasporto</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>A carico ELCO</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCustomerCodeSnapshot</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.ERP_Customer_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_Header_Offerta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Pricebook</name>
        <label>Set Opp Pricebook</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>chosenPricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Standard_Pricebook</name>
        <label>Set Standard Pricebook</label>
        <locationX>308</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>chosenPricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01sg50000028RoIAAU</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
    </assignments>

    <!-- RECORD CREATES -->
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignRecordIdToReference>newQuoteId</assignRecordIdToReference>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>chosenPricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Offerta - {!Get_Opportunity.Name} - {!$Flow.CurrentDate}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inside_Sales__c</field>
            <value>
                <elementReference>Input_Inside_Sales</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Num_Circuiti__c</field>
            <value>
                <elementReference>Input_Num_Circuiti</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Giorni_Consegna__c</field>
            <value>
                <elementReference>Input_Giorni_Consegna</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Servizio__c</field>
            <value>
                <elementReference>Input_Servizio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Servizio_90_10__c</field>
            <value>
                <elementReference>Input_Servizio_90_10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trasporto__c</field>
            <value>
                <elementReference>Input_Trasporto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Anagrafica_Contatto__c</field>
            <value>
                <elementReference>Input_Anagrafica_Contatto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchase_Order__c</field>
            <value>
                <elementReference>Input_Purchase_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Note_Special_Needs__c</field>
            <value>
                <elementReference>Input_Note_Special_Needs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Code_Snapshot__c</field>
            <value>
                <elementReference>Input_Customer_Code</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordCreates>

    <!-- CHOICES -->
    <choices>
        <name>Choice_Servizio_Normal</name>
        <choiceText>Normal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Normal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Servizio_Fast</name>
        <choiceText>Fast</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Fast</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Servizio_Guarantee</name>
        <choiceText>Guarantee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Guarantee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Trasporto_Elco</name>
        <choiceText>A carico ELCO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A carico ELCO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Trasporto_Cliente</name>
        <choiceText>A carico cliente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A carico cliente</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Trasporto_Franco</name>
        <choiceText>Franco fabbrica</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Franco fabbrica</stringValue>
        </value>
    </choices>
</Flow>
