elco-salesforce/force-app/main/default/flows/Quote_Aggiungi_Riga_Offerta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Flow for adding QuoteLineItems to a Quote with multi-row loop capability</description>
    <interviewLabel>Quote - Aggiungi Riga Offerta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Aggiungi Riga Offerta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- ALL ASSIGNMENTS GROUPED -->
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>lineCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_QuoteLineItem</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Set_Loop_Control</name>
        <label>Set Loop Control</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>addAnother</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Add_Another</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Loop</targetReference>
        </connector>
    </assignments>

    <!-- ALL CHOICES GROUPED -->
    <choices>
        <name>Choice_Tipologia_Standard</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Tipologia_Flex</name>
        <choiceText>Flex</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flex</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Tipologia_RigidFlex</name>
        <choiceText>Rigid-Flex</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rigid-Flex</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Mat_FR4</name>
        <choiceText>FR-4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FR-4</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Mat_Alluminio</name>
        <choiceText>Alluminio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alluminio</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Mat_Rogers</name>
        <choiceText>Rogers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rogers</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Mat_Poliimmide</name>
        <choiceText>Poliimmide</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Poliimmide</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Mat_Altro</name>
        <choiceText>Altro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Altro</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Spessore_08</name>
        <choiceText>0.8</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0.8</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Spessore_10</name>
        <choiceText>1.0</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Spessore_16</name>
        <choiceText>1.6</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.6</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Spessore_20</name>
        <choiceText>2.0</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2.0</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Spessore_Altro</name>
        <choiceText>Altro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Altro</stringValue>
        </value>
    </choices>

    <!-- ALL DECISIONS GROUPED -->
    <decisions>
        <name>Check_Loop</name>
        <label>Check Loop</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Screen_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finish</defaultConnectorLabel>
        <rules>
            <name>Add_Another_Row</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addAnother</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Add_Line_Item</targetReference>
            </connector>
            <label>Add Another Row</label>
        </rules>
    </decisions>

    <!-- ALL RECORD CREATES GROUPED -->
    <recordCreates>
        <name>Create_QuoteLineItem</name>
        <label>Create QuoteLineItem</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Set_Loop_Control</targetReference>
        </connector>
        <inputAssignments>
            <field>QuoteId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Input_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01ug5000000mmbpAAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipologia_Prodotto__c</field>
            <value>
                <elementReference>Input_Tipologia_Prodotto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Materiale__c</field>
            <value>
                <elementReference>Input_Materiale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spessore_Complessivo__c</field>
            <value>
                <elementReference>Input_Spessore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dimensioni_Array__c</field>
            <value>
                <elementReference>Input_Dimensioni_Array</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spessore_Rame_Esterni__c</field>
            <value>
                <elementReference>Input_Spessore_Rame</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solder_Specifico__c</field>
            <value>
                <elementReference>Input_Solder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Silkscreen_Specifico__c</field>
            <value>
                <elementReference>Input_Silkscreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finish__c</field>
            <value>
                <elementReference>Input_Finish</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Circuit_Code__c</field>
            <value>
                <elementReference>Input_Customer_Code</elementReference>
            </value>
        </inputAssignments>
        <object>QuoteLineItem</object>
    </recordCreates>

    <!-- ALL RECORD LOOKUPS GROUPED -->
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_Add_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- ALL SCREENS GROUPED -->
    <screens>
        <name>Screen_Add_Line_Item</name>
        <label>Aggiungi Riga Offerta</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Increment_Counter</targetReference>
        </connector>
        <fields>
            <name>Display_Quote_Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Offerta: {!Get_Quote.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Aggiungi una riga all&apos;offerta.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Input_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Input_Tipologia_Prodotto</name>
            <choiceReferences>Choice_Tipologia_Standard</choiceReferences>
            <choiceReferences>Choice_Tipologia_Flex</choiceReferences>
            <choiceReferences>Choice_Tipologia_RigidFlex</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipologia Prodotto</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Input_Materiale</name>
            <choiceReferences>Choice_Mat_FR4</choiceReferences>
            <choiceReferences>Choice_Mat_Alluminio</choiceReferences>
            <choiceReferences>Choice_Mat_Rogers</choiceReferences>
            <choiceReferences>Choice_Mat_Poliimmide</choiceReferences>
            <choiceReferences>Choice_Mat_Altro</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Materiale</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Spessore</name>
            <choiceReferences>Choice_Spessore_08</choiceReferences>
            <choiceReferences>Choice_Spessore_10</choiceReferences>
            <choiceReferences>Choice_Spessore_16</choiceReferences>
            <choiceReferences>Choice_Spessore_20</choiceReferences>
            <choiceReferences>Choice_Spessore_Altro</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Spessore Complessivo (mm)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Dimensioni_Array</name>
            <dataType>String</dataType>
            <fieldText>Dimensioni Array (es. 100x150)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Spessore_Rame</name>
            <dataType>String</dataType>
            <fieldText>Spessore Rame Esterni</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Solder</name>
            <dataType>String</dataType>
            <fieldText>Solder Specifico</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Silkscreen</name>
            <dataType>String</dataType>
            <fieldText>Silkscreen Specifico</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Finish</name>
            <dataType>String</dataType>
            <fieldText>Finish</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Customer_Code</name>
            <dataType>String</dataType>
            <fieldText>Customer Circuit Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Input_Add_Another</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Aggiungi un&apos;altra riga dopo questa</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <screens>
        <name>Screen_Success</name>
        <label>Success</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Success</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(0, 128, 0);&quot;&gt;✓ Righe aggiunte con successo&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Numero di righe create: {!lineCounter}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Torna all&apos;offerta: &lt;a href=&quot;/{!recordId}&quot;&gt;{!Get_Quote.Name}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>

    <!-- ALL VARIABLES GROUPED -->
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>addAnother</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>

    <variables>
        <name>lineCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>

    <variables>
        <name>varQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
