test_flow_verify/unpackaged/flows/Quote_Test_Deploy.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_PBE_to_QLI</name>
        <label>Assign PBE to QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varQLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPBE.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPBE.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_QuoteLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Screen_A_Values</name>
        <label>Capture Screen A Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTipologia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Tipologia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Reset_Tipologia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Screen_B_Values</name>
        <label>Capture Screen B Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMaterialeCustomValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Materiale_Custom_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Reset_Materiale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Screen_C_Values</name>
        <label>Capture Screen C Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDimensioni</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Dimensioni</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSpessoreCustomValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Spessore_Custom_Value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_D_Rame_Finish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Screen_D_Values</name>
        <label>Capture Screen D Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varRame</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Rame</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRameCustomValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Rame_Custom_Value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinish</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Finish</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_E_Solder_Silkscreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Screen_E_Values</name>
        <label>Capture Screen E Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSolder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Solder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSilkscreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Silkscreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShowAdvanced</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Show_Advanced</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Show_Advanced</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Screen_F_Values</name>
        <label>Capture Screen F Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPistaMinima</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Pista_Minima</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForoMinimo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Foro_Minimo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsolamentoMinimo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Isolamento_Minimo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAspectRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Aspect_Ratio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_G_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Capture_Screen_G_Values</name>
        <label>Capture Screen G Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAddAnother</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Input_Add_Another</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_QLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Reset_Materiale</name>
        <label>Check Reset Materiale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPrevMateriale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMateriale</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Materiale_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Check_Reset_Tipologia</name>
        <label>Check Reset Tipologia</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPrevTipologia</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTipologia</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Tipologia_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Load_Account_Defaults</name>
        <label>Load Account Defaults</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSpessore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Spessore_Default__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinish</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Finish_Default__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSolder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Solder_Default__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSilkscreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Silkscreen_Default__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_A_Tipologia_Quantity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_QLI</name>
        <label>Prepare QLI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varQLI.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varQuantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Tipologia_Prodotto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varTipologia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Materiale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMateriale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Materiale_Custom_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varMaterialeCustomValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Dimensioni_Array__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDimensioni</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Spessore_Complessivo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSpessore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Spessore_Custom_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSpessoreCustomValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Spessore_Rame_Esterni__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRame</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Rame_Custom_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varRameCustomValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Finish__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFinish</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Solder_Specifico__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSolder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Silkscreen_Specifico__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSilkscreen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Pista_Minima__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varPistaMinima</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Foro_Minimo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varForoMinimo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Isolamento_Minimo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varIsolamentoMinimo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQLI.Aspect_Ratio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAspectRatio</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_PBE_Dynamic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Materiale_Dependent</name>
        <label>Reset Materiale Dependent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varMateriale</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMaterialeCustomValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_B_Materiale</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Spessore_Dependent</name>
        <label>Reset Spessore Dependent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSpessore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Spessore_Default__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSpessoreCustomValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_C_Dimensioni_Spessore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Variables_For_Loop</name>
        <label>Reset Variables For Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varTipologia</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMateriale</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSpessore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Spessore_Default__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRame</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFinish</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Finish_Default__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSolder</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Solder_Default__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSilkscreen</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAccount.Silkscreen_Default__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMaterialeCustomValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSpessoreCustomValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRameCustomValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varQuantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDimensioni</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPistaMinima</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varForoMinimo</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIsolamentoMinimo</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAspectRatio</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varShowAdvanced</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrevTipologia</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrevMateriale</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_A_Tipologia_Quantity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Finish_ENIG</name>
        <choiceText>ENIG</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ENIG</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Finish_HASL</name>
        <choiceText>HASL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>HASL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Finish_ImAg</name>
        <choiceText>Immersion Silver</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Immersion Silver</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Finish_ImSn</name>
        <choiceText>Immersion Tin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Immersion Tin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Finish_OSP</name>
        <choiceText>OSP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>OSP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Rame_18um</name>
        <choiceText>18 µm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>18 µm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Rame_35um</name>
        <choiceText>35 µm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>35 µm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Rame_70um</name>
        <choiceText>70 µm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>70 µm</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Rame_Custom</name>
        <choiceText>Custom</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Custom</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Silkscreen_Bianco</name>
        <choiceText>Bianco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bianco</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Silkscreen_Nero</name>
        <choiceText>Nero</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nero</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Silkscreen_None</name>
        <choiceText>Nessuno</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nessuno</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Solder_Bianco</name>
        <choiceText>Bianco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bianco</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Solder_Nero</name>
        <choiceText>Nero</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nero</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Solder_None</name>
        <choiceText>Nessuno</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nessuno</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Solder_Verde</name>
        <choiceText>Verde</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verde</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Tipologia_Flex</name>
        <choiceText>Flex</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flex</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Tipologia_RigidFlex</name>
        <choiceText>Rigid-Flex</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rigid-Flex</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Tipologia_Standard</name>
        <choiceText>Standard</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Standard</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_Loop_Control</name>
        <label>Decision Loop Control</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Exit</defaultConnectorLabel>
        <rules>
            <name>Add_Another_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAddAnother</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Variables_For_Loop</targetReference>
            </connector>
            <label>Add Another Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Materiale_Changed</name>
        <label>Decision Materiale Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_C_Dimensioni_Spessore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Materiale_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrevMateriale</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varMateriale</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPrevMateriale</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Spessore_Dependent</targetReference>
            </connector>
            <label>Materiale Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_PBE_Found</name>
        <label>Decision PBE Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_PBE_Fallback_Standard</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PBE Not Found</defaultConnectorLabel>
        <rules>
            <name>PBE_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPBE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PBE_to_QLI</targetReference>
            </connector>
            <label>PBE Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Show_Advanced</name>
        <label>Decision Show Advanced</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_G_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Advanced</defaultConnectorLabel>
        <rules>
            <name>Show_Advanced_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varShowAdvanced</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_F_Advanced</targetReference>
            </connector>
            <label>Show Advanced Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Tipologia_Changed</name>
        <label>Decision Tipologia Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_B_Materiale</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Change</defaultConnectorLabel>
        <rules>
            <name>Tipologia_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrevTipologia</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varTipologia</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varPrevTipologia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Materiale_Dependent</targetReference>
            </connector>
            <label>Tipologia Changed</label>
        </rules>
    </decisions>
    <description>Test deployment - V2 wizard</description>
    <interviewLabel>Quote Test Deploy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Test Deploy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_QuoteLineItem</name>
        <label>Create QuoteLineItem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Loop_Control</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <inputReference>varQLI</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_PCB_CUSTOM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Spessore_Default__c</queriedFields>
        <queriedFields>Finish_Default__c</queriedFields>
        <queriedFields>Solder_Default__c</queriedFields>
        <queriedFields>Silkscreen_Default__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuote.OpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PBE_Dynamic</name>
        <label>Get PBE Dynamic</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_PBE_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProduct.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varQuote.Pricebook2Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>varPBE</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_PBE_Fallback_Standard</name>
        <label>Get PBE Fallback Standard</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_PBE_to_QLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProduct.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varStdPB.Id</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputReference>varPBE</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_PCB_CUSTOM</name>
        <label>Get Product PCB_CUSTOM</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Standard_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PCB_CUSTOM</stringValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>varProduct</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProductCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Quote</object>
        <outputReference>varQuote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook</name>
        <label>Get Standard Pricebook</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Load_Account_Defaults</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputReference>varStdPB</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Screen_A_Tipologia_Quantity</name>
        <label>Screen A: Tipologia + Quantity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Screen_A_Values</targetReference>
        </connector>
        <fields>
            <name>Display_Tipologia</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Step 1 di 7 - Tipologia e Quantità&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Tipologia</name>
            <choiceReferences>Choice_Tipologia_Standard</choiceReferences>
            <choiceReferences>Choice_Tipologia_Flex</choiceReferences>
            <choiceReferences>Choice_Tipologia_RigidFlex</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipologia Prodotto</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantità</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_B_Materiale</name>
        <label>Screen B: Materiale</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Screen_B_Values</targetReference>
        </connector>
        <fields>
            <name>Display_Materiale</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Step 2 di 7 - Materiale&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Materiale</name>
            <extensionName>c:dependentPicklistCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>varTipologia</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>QuoteLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topFieldApiName</name>
                <value>
                    <stringValue>Tipologia_Prodotto__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleFieldApiName</name>
                <value>
                    <stringValue>Materiale__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Materiale</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varMateriale</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Materiale_Custom_Value</name>
            <dataType>String</dataType>
            <fieldText>Materiale (Custom value)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varMateriale</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Custom</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_C_Dimensioni_Spessore</name>
        <label>Screen C: Dimensioni + Spessore</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Screen_C_Values</targetReference>
        </connector>
        <fields>
            <name>Display_Dimensioni</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Step 3 di 7 - Dimensioni e Spessore&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Dimensioni</name>
            <dataType>String</dataType>
            <fieldText>Dimensioni Array (es. 100x50mm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Spessore</name>
            <extensionName>c:dependentPicklistCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>varMateriale</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>QuoteLineItem</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topFieldApiName</name>
                <value>
                    <stringValue>Materiale__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleFieldApiName</name>
                <value>
                    <stringValue>Spessore_Complessivo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Spessore Complessivo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>varSpessore</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSpessore</assignToReference>
                <name>middleValue</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Spessore_Custom_Value</name>
            <dataType>String</dataType>
            <fieldText>Spessore (Custom value)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varSpessore</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Custom</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_D_Rame_Finish</name>
        <label>Screen D: Rame + Finish</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Screen_D_Values</targetReference>
        </connector>
        <fields>
            <name>Display_Rame</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Step 4 di 7 - Rame e Finish&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Rame</name>
            <choiceReferences>Choice_Rame_18um</choiceReferences>
            <choiceReferences>Choice_Rame_35um</choiceReferences>
            <choiceReferences>Choice_Rame_70um</choiceReferences>
            <choiceReferences>Choice_Rame_Custom</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Spessore Rame Esterni</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Rame_Custom_Value</name>
            <dataType>String</dataType>
            <fieldText>Rame (Custom value)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varRame</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Custom</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Input_Finish</name>
            <choiceReferences>Choice_Finish_HASL</choiceReferences>
            <choiceReferences>Choice_Finish_ENIG</choiceReferences>
            <choiceReferences>Choice_Finish_OSP</choiceReferences>
            <choiceReferences>Choice_Finish_ImAg</choiceReferences>
            <choiceReferences>Choice_Finish_ImSn</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varFinish</elementReference>
            </defaultValue>
            <fieldText>Finish</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_E_Solder_Silkscreen</name>
        <label>Screen E: Solder + Silkscreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Screen_E_Values</targetReference>
        </connector>
        <fields>
            <name>Display_Solder</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Step 5 di 7 - Solder e Silkscreen&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Solder</name>
            <choiceReferences>Choice_Solder_Verde</choiceReferences>
            <choiceReferences>Choice_Solder_Bianco</choiceReferences>
            <choiceReferences>Choice_Solder_Nero</choiceReferences>
            <choiceReferences>Choice_Solder_None</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varSolder</elementReference>
            </defaultValue>
            <fieldText>Solder</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Silkscreen</name>
            <choiceReferences>Choice_Silkscreen_Bianco</choiceReferences>
            <choiceReferences>Choice_Silkscreen_Nero</choiceReferences>
            <choiceReferences>Choice_Silkscreen_None</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>varSilkscreen</elementReference>
            </defaultValue>
            <fieldText>Silkscreen</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Show_Advanced</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Mostra campi avanzati</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Screen Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(194, 57, 52); font-size: 14px;&quot;&gt;Errore durante la creazione della riga&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Chiudi</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_F_Advanced</name>
        <label>Screen F: Advanced Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Screen_F_Values</targetReference>
        </connector>
        <fields>
            <name>Display_Advanced</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Step 6 di 7 - Campi Avanzati&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Pista_Minima</name>
            <dataType>Number</dataType>
            <fieldText>Pista Minima (mm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>3</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Foro_Minimo</name>
            <dataType>Number</dataType>
            <fieldText>Foro Minimo (mm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>3</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Isolamento_Minimo</name>
            <dataType>Number</dataType>
            <fieldText>Isolamento Minimo (mm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>3</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Aspect_Ratio</name>
            <dataType>Number</dataType>
            <fieldText>Aspect Ratio</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Avanti</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_G_Summary</name>
        <label>Screen G: Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Capture_Screen_G_Values</targetReference>
        </connector>
        <fields>
            <name>Display_Summary</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Step 7 di 7 - Riepilogo&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Tipologia:&lt;/b&gt; {!varTipologia}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Quantità:&lt;/b&gt; {!varQuantity}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Materiale:&lt;/b&gt; {!varMateriale}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Dimensioni:&lt;/b&gt; {!varDimensioni}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Spessore:&lt;/b&gt; {!varSpessore}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Rame:&lt;/b&gt; {!varRame}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Finish:&lt;/b&gt; {!varFinish}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Solder:&lt;/b&gt; {!varSolder}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Silkscreen:&lt;/b&gt; {!varSilkscreen}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Input_Add_Another</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Aggiungi un&apos;altra riga</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Crea Riga Offerta</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varAddAnother</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varAspectRatio</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varDimensioni</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFinish</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varForoMinimo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varIsolamentoMinimo</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varMateriale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varMaterialeCustomValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varPBE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>varPistaMinima</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
    </variables>
    <variables>
        <name>varPrevMateriale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPrevTipologia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>varQLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>varQuantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>varRame</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRameCustomValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varShowAdvanced</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSilkscreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSolder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpessore</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSpessoreCustomValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varStdPB</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>varTipologia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
