elco-salesforce/verify_flow/unpackaged/flows/CRIF_NEW_da_PIVA.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_CRIF_Search</name>
        <label>Ricerca CRIF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CRIFSearchInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_CRIF_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>partitaIVA</name>
            <value>
                <elementReference>Input_PIVA</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CRIFSearchInvocable</nameSegment>
        <outputParameters>
            <assignToReference>varCRIF_Success</assignToReference>
            <name>success</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCRIF_Error</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCRIF_TotalResults</assignToReference>
            <name>totalResults</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCRIF_RagioneSociale</assignToReference>
            <name>ragioneSociale</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCRIF_CodiceFiscale</assignToReference>
            <name>codiceFiscale</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCRIF_Indirizzo</assignToReference>
            <name>indirizzo</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCRIF_Citta</assignToReference>
            <name>citta</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCRIF_CAP</assignToReference>
            <name>cap</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCRIF_Provincia</assignToReference>
            <name>provincia</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCRIF_Telefono</assignToReference>
            <name>telefono</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCRIF_Email</assignToReference>
            <name>email</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCRIF_PEC</assignToReference>
            <name>pec</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varCRIF_Website</assignToReference>
            <name>website</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_CRIF_Success</name>
        <label>Verifica Esito CRIF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Errore</defaultConnectorLabel>
        <rules>
            <name>Outcome_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCRIF_Success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Create_Account</targetReference>
            </connector>
            <label>Successo</label>
        </rules>
    </decisions>
    <description>Crea nuovo Account da Partita IVA con integrazione CRIF</description>
    <label>Nuovo Account da P.IVA (CRIF)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Record_Create_Account</name>
        <label>Crea Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>varCRIF_Citta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>varCRIF_CAP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>varCRIF_Provincia</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>varCRIF_Indirizzo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>varCRIF_RagioneSociale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partita_IVA__c</field>
            <value>
                <elementReference>Input_PIVA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>varCRIF_Telefono</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>varCRIF_Website</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <screens>
        <name>Screen_Error</name>
        <label>Errore CRIF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Error</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;✗ Errore nella ricerca CRIF&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!varCRIF_Error}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Risultati trovati:&lt;/b&gt; {!varCRIF_TotalResults}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Input_PIVA</name>
        <label>Inserisci Partita IVA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action_CRIF_Search</targetReference>
        </connector>
        <fields>
            <name>Input_PIVA</name>
            <dataType>String</dataType>
            <fieldText>Partita IVA</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Inserisci Partita IVA italiana (11 cifre, con o senza IT)</helpText>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Success</name>
        <label>Account Creato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Success</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(0, 128, 0);&quot;&gt;✓ Account creato con successo!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Ragione Sociale:&lt;/b&gt; {!varCRIF_RagioneSociale}&lt;/p&gt;&lt;p&gt;&lt;b&gt;P.IVA:&lt;/b&gt; {!Input_PIVA}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Indirizzo:&lt;/b&gt; {!varCRIF_Indirizzo}, {!varCRIF_CAP} {!varCRIF_Citta} ({!varCRIF_Provincia})&lt;/p&gt;&lt;p&gt;&lt;b&gt;Telefono:&lt;/b&gt; {!varCRIF_Telefono}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Email:&lt;/b&gt; {!varCRIF_Email}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Trova l&apos;Account appena creato nella lista Account o cerca per nome: {!varCRIF_RagioneSociale}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_Input_PIVA</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRIF_CAP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRIF_Citta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRIF_CodiceFiscale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRIF_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRIF_Error</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRIF_Indirizzo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRIF_PEC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRIF_Provincia</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRIF_RagioneSociale</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRIF_Success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRIF_Telefono</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCRIF_TotalResults</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varCRIF_Website</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
